<!--Topside-->
<div class="container" >
    <div class="row mt-4">
        
        <div class="col-md-12">
            <div class="card"style="width:113%">
                <div  class="card-header text-dark" style="background-color:gray;">
                    <h4>Functions</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <a class="text-decoration-none text-white" href="{% url 'stockapp-staff' %}">
                                <div class="card my-card shadow text-center p-3" style="background-color:rgb(11,109,202);">
                                    <h4>Inventory Staff <i class="fas fa-users"></i></h4>
                                    <h3>{{ workers_count }}</h3>
                                </div>
                            </a>
                        </div>
              
                       
                        <div class="col-md-4" >
                            <a class="text-decoration-none text-white" href="{% url 'stockapp-item' %}">
                                <div class="card my-card shadow text-center p-3" style="background-color:rgb(11,109,202); ">
                                    <h4>Items <i class="fas fa-box"></i></h4>
                                    <h3>{{ items_count }}</h3>
                                </div>
                            </a>
                        </div>
                        
                        <div class="col-md-4">
                            <a class="text-decoration-none text-white" href="{% url 'stockapp-report' %}">
                                <div class="card my-card shadow text-center p-3" style="background-color:rgb(11,109,202);" >
                                    <h4>Generate <br> Report <i class="fas fa-shipping-fast"></i></h4>
                                    <h3></h3>
                                    
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Topside-->
